/* You can add global styles to this file, and also import other style files

prioridade de estilização do angular é o arquivo css do componente

*/

:root { //raiz
  --cinza-300: #e2e2e2;

  --azul-400: #587295;
  --azul-500: #495f7c;
  --azul-600: #3b4c63;
  --azul-700: #2c394a;
  --azul-800: #1d2632;

  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 95%;
  color: var(--cinza-300);
  background-color: var(--azul-700);
}

a {
  text-decoration: none;
}

header {
  color: var(--cinza-300);
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  & h1 {
    font-size: 3rem;
  }
}

footer {
  background-color: var(--azul-600);
  height: 120px;
  padding: 2%;
}

nav {
  max-width: 100%;
  padding: 2%;
  background-color: var(--cinza-300);
  display: flex;
  justify-content: space-around;
}

.btn {
  border: none;
  background-color: var(--azul-400);
  padding: 6px;
  cursor: pointer;
  color:  var(--cinza-300);
  transition: background .3s;
  border-radius: 4px;
  width: 20%;
  text-align: center;
}

.btn:hover {
  background-color: var(--azul-700);
}
